Applications/HelloWorld/Itsi.Template.Website/node_modules/
Applications/HelloWorld/Itsi.Template.Website/temp/
Applications/HelloWorld/Itsi.Template.Website/dist/
Applications/HelloWorld/Itsi.Template.Api/obj/
Applications/HelloWorld/Itsi.Template.Api.Tests/bin/
Applications/HelloWorld/Itsi.Template.Api.Tests/obj/
*.suo
